<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Main Service UI</title>
</head>

<body>

  <style>
    body {
      .container {
        width: 800px;
        margin: 0 auto;

        label {
          font-size: 18px;
        }

        textarea {
          display: block;
          width: 100%;
          font-size: 16px;
          height: 250px;
          margin: 20px 0;
        }
      }
    }
  </style>

  <div class="container">
    <h1>Base Commander</h1>
    <form method="POST" action="/run">
      <label for="prompt">Enter prompt:</label>
      <textarea type="text" id="prompt" name="prompt"></textarea>
      <button type="submit">Execute</button>
    </form>

    <% if (output) { %>
      <h2>Output</h2>
      <pre><%= output %></pre>
      <% } %>
  </div>

</body>

</html>